# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build products
build/
*.o
*.d
*.dt
*.ipa
*.dSYM
*.app

# User-specific
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/





